*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table thead tr th,
table tbody tr td{
  font-size: 14px;
  font-family: Noto Sans, sans-serif;
}

table thead tr th{
  font-weight: 600;
}

table tr td,
table tr th{
  border: 1px solid #dee2e6;
}

.MuiBox-root-2 table thead th:not(:first-child) img,
.MuiBox-root-4 table thead th:first-child img,
.MuiBox-root-6 table thead th:nth-child(odd) img{
  display: none;
}